{% extends "base.html" %} {% block head %} 
<title>Welcome to UnnamedMC Origins!</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,500,700&amp;subset=latin" media="all">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  rel="stylesheet" />

<style>
    .content-body {
        font-family:"roboto"
    }
    .justify {
        text-align:justify;
    }
    .center {
        text-align:center;
    }
    .img-container{
        width: 100%;
        height: 768px;
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        background-image: url(https://i.ibb.co/mb24m6N/512-ori-RETOUCHED-TRANSP-edit2.png);
        background-attachment: fixed;
        
        display: flex;

        justify-content: center;

        color: white;
    }
    .outer-container{
        background-image: linear-gradient(to right,#5a5f6a, #5a5f6a, #787c93);
    }
    .head-msg{
        background-image: linear-gradient(to right,#5a5f6a, #5a5f6a, #787c93);
        display: flex; align-items: center; justify-content: center;
    }
    .gradient-text {
        background-color: #c9caff;
        background-image: linear-gradient(45deg, #e2e4ff, #ffffff);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
    </style>
{% endblock %}
{% block content %}
<div style="background-image: linear-gradient(to right,#5a5f6a, #5a5f6a, #787c93);">
<div class="head-msg"><h1 style=" color: white;">Welcome to UnnamedMC!</h1></div>
<div class="outer-container">
    <div class="img-container">
        <div style="display:flex; flex-direction: column; justify-content: space-around;"><!--Two flexbox columns - one for How did you get here bit, other for section below - need how did you part and its lower text right next to each other-->
            <div style="display:flex; flex-direction: column; justify-content: space-around;">
                <div><span style="border-bottom-color: #B26427;  border-bottom-width: 0.4em;  border-bottom-style: inset;"><h4 style="font-family: 'Open Sans', sans-serif; display: inline-block;"><i>How did you get here?</i></h4></span></div>
                <div><p class="gradient-text" style="font-family: 'Poppins', sans-serif;"><b>Welcome to UnnamedMC ––<br> a new, self-hosted server on Origins.<br><br>We pride ourselves on keeping high maintenance without external costs, <br>meaning you don't have to worry about performance decreases when funds are low.</b></p></div>
            </div>
            <div style="display:flex; flex-direction: column; justify-content: space-evenly;">
                <div style="text-align: right; "><span style="border-bottom-color: #3E345D;  border-bottom-width: 0.4em;  border-bottom-style: inset;"><h4 style="font-family: 'Open Sans', sans-serif; display: inline-block;      ">What <i>is</i> Origins?</h4></span></div>
                <div><p class="gradient-text" style="font-family: 'Poppins', sans-serif;"><b>Origins is a Minecraft mod for Fabric that allows you to choose an Origin at the beginning of the game.<br>There are a variety of Origins to choose from, each with its own benefits and drawbacks.<br><br>You'll be greeted with the origin select screen the first time you join the game.<br>Each origin has something new to discover, so </b><a href="https://discord.gg/hvD8D3MWjy" style="font-weight: normal; -webkit-text-fill-color: #eff9ff; text-decoration: underline;" target="_blank" rel="noopener noreferrer"><i>come and find something new at Unnamed!</i></a><b></b></p></div>
            </div>
            <div style="display:flex; flex-direction: column; justify-content: space-evenly;">
                <div><span style="border-right-color: #23B35D;  border-right-width: 0.2em; padding:.15em; border-right-style: dotted; border-left-color: #23B35D;  border-left-width: 0.2em;  border-left-style: dotted;"><h4 style="font-family: 'Montserrat', sans-serif; display: inline-block;"><u>More is on the way!</u></u></h4></span></div>
                <div><p class="gradient-text" style="font-family: 'Poppins', sans-serif;"><b>One of the major goals of UnnamedMC is future-proofing; our server was<br><a href="" style="font-weight: normal; -webkit-text-fill-color: #eff9ff; text-decoration: underline;" target="_blank" rel="noopener noreferrer"><i>built from the ground up with scalability in mind.</i></a></b></p></div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}