{% extends "base.html" %} {% block head %}
<title>About</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,500,700&amp;subset=latin" media="all">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<style>
    .main-container{
        display: flex;

        justify-content: center;
    }
    .inner-container{

    }
    .content-body {
        font-family:"roboto"
    }
    .justify {
        text-align:justify;
    }
    .center {
        text-align:center;
    }
    .img-container{
        width: 100%;
        height: 35em;
        background-image: linear-gradient(to right,#5a5f6a, #5a5f6a, #787c93);
        color: white;
    }
    .outer-container{
        background-image: linear-gradient(to right,#5a5f6a, #5a5f6a, #787c93);
    }
    .head-msg{
        background-image: linear-gradient(to right,#5a5f6a, #5a5f6a, #787c93);
        display: flex; align-items: center; justify-content: center;
    }
    .gradient-text {
        background-color: #c9caff;
        background-image: linear-gradient(45deg, #d2d4da, #eeeeee);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
</style>
{% endblock %}

{% block content %}
<div style="display: flex; align-items: center; justify-content: center;  border-bottom-color: #727988;  border-bottom-width: 0.4em;  border-bottom-style: inset;  background-image: linear-gradient(45deg, #e2e4ff, #ffffff);"><h1 style="">Modpack and IP</h1></div>
<div style="display:flex; flex-direction: column; justify-content: center;  ">
<div style="background-image: linear-gradient(to right,#5a5f6a, #5a5f6a, #787c93);">
    <div style="background-image: linear-gradient(to right, 65deg, #ccccdd, #eeeeee, #ffffff); margin:1em;">
    <div style="display:flex; flex-direction: column; justify-content: space-around;  border-bottom-color: #373373;  border-bottom-width: 0.4em;  border-bottom-style: groove;">
        <div style="display:flex; flex-direction: row; justify-content: space-around;"><span><h4 style="font-family: 'Open Sans', sans-serif; display: inline-block;">IP:</h4></span><span><h4  style="font-family: 'Open Sans', sans-serif; display: inline-block;"><i>Unnamedmc.com</i></h4></span></div>
        <div style="align-content:center;"><p style="font-family: 'Poppins', sans-serif;">That shouldn't be too hard to remember</p></div>
    </div>
    <div style="top-margin:1em; display:flex; flex-direction: column; justify-content: space-around;  border-bottom-color: #373373;  border-bottom-width: 0.4em;  border-bottom-style: groove;">
        <div style="display:flex; flex-direction: row; justify-content: space-around;"><span><h4 style="font-family: 'Open Sans', sans-serif; display: inline-block;">Modpack:</h4></span><span><h4  style="font-family: 'Open Sans', sans-serif; display: inline-block;"><i><a href="https://discord.gg/ztaqUMDEUP" style="font-weight: normal; -webkit-text-fill-color: #6f698f; text-decoration: underline;" target="_blank" rel="noopener noreferrer">Download at our discord!</a></i></h4></span></div>
        <div style="align-content:center;"><p style="font-family: 'Poppins', sans-serif;">In-website downloading coming soon! <span style="color:#cccccc">(depending on your definition of soon)</span></p></div>
    </div>
    </div>
</div>
<div class="img-container">
    <div style="display:flex; flex-direction: column; justify-content: space-evenly; text-align:center;">
        <div style="text-align: center; "><span style=""><h4 style="font-family: 'Open Sans', sans-serif; display: inline-block;">How does this work?</h4></span></div>
        <div><p class="gradient-text" style="font-family: 'Poppins', sans-serif;">How can the server IP and website be at the same address? If you select the entire address in your search bar, <br>you'll see that the website is actually <i>www</i>.unnamedmc.com. <br>A quirk of having one address for two purposes is that without this www, you can't reach the website. <br></p></div>
    </div>
    <div style="display:flex; flex-direction: column; justify-content: space-evenly; text-align:center;">
        <div style="text-align: center; "><span style=""><h4 style="font-family: 'Open Sans', sans-serif; display: inline-block;">I Can't Install The Modpack!</h4></span></div>
        <div><p class="gradient-text" style="font-family: 'Poppins', sans-serif;">You need a modded launcher like <a href="https://www.curseforge.com/download/app" style="font-weight: normal; -webkit-text-fill-color: #6f698f; text-decoration: underline;" target="_blank" rel="noopener noreferrer">curseforge</a> to install the modpack.</b></p></div>
    </div>
</div>
</div>
{% endblock %}