{% extends "tut-base.html" %} {% block title %} How did you get here? {% endblock %}
{% block content%}
<h1>I actually set up a website</h1>
<p>Fun fact: You can go to the following websites (<a href=https://www.who.is>who.is</a> and <a href=https://check-host.net>IP adress location lookup</a>) and try to figure out where the server is located, personal data connected to the domain name, ect. <br>
-But you won't be able to find anything. The domain has privacy protection, and the server has complete security.</p>
<h6>I have my own website, with full security, and I'm not paying a dime</h6>
<a href="/home" style="font-size: 8px; display: none;">actual home page (work in progress)</a>
{% endblock %}
